.container {
  width: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  .contant {
    padding: 20px 0px;

    .heading {
      text-align: center;
      margin: 30px 0px;
    }
    .contentPage {
      text-align: left;
      line-height: 1.6;
    }
  }
}
